Repository nuqayah/pdf-font-decoder: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, check-python, check-json, lint, fmt

eslint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files} && git add {staged_files}

check-python:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    uv run -m ast \"$file\" > /dev/null 2>&1 || exit 1\n  fi\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  # Skip TypeScript config files as they can contain comments\n  if [[ \"$file\" == tsconfig*.json ]]; then\n    continue\n  fi\n  if [ -f \"$file\" ]; then\n    jq . \"$file\" >/dev/null || exit 1\n  fi\ndone\n"

lint:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

fmt:
  run: uv run ruff format {staged_files}
  stage_fixed: true

remove whitespace
  .prettierrc
  lefthook.yml
Due: none

lefthook: add check-eof-newline
  lefthook.yml
  pyproject.toml
Due: none

pkg: bump bits, minor
  package.json
Due: check-json

remove unused Prettier and Svelte configuration files, update Mise and pyproject.toml with new dependencies, and enhance API configuration dynamic CORS settings
  .prettierrc
  api/config.py
  api/main.py
  pyproject.toml
  svelte.config.js
  uv.lock
  vite.config.ts
Due: eslint, prettier, check-python, lint, fmt

fix: configure API proxy for frontend requests
  api/main.py
  src/lib/api.ts
Due: eslint, prettier, check-python, lint, fmt

fix: update font file URL to include API path
  api/services/svg_service.py
  src/lib/api.ts
Due: eslint, prettier, check-python, lint, fmt

tw4
  package.json
  src/lib/components/FileUpload.svelte
  src/lib/components/GlyphEditor.svelte
Due: eslint, prettier, check-json

svg-font-analyzer -> pdf-font-decoder
  README.md
  pdf-font-decoder.service
  pyproject.toml
  uv.lock
Due: none

vite.conf: ts -> js
  vite.config.js
  vite.config.ts
Due: eslint, prettier

index.html: simplify
  index.html
  src/main.ts
Due: eslint, prettier

api port: fix
  vite.config.js
Due: eslint, prettier

client build: fix
  build.js
  package.json
  vite.config.js
Due: eslint, prettier, check-json

feat: improve bulk mapping modal UX
  src/lib/components/GlyphEditor.svelte
Due: eslint, prettier

feat: add AI mapping functionality for glyphs and integrate OpenAI API
  api/main.py
  api/routers/ai_mapping.py
  api/services/font_service.py
  pyproject.toml
  uv.lock
Due: check-python, lint, fmt

feat: add generateAISuggestions method to APIClient for AI-driven font suggestions
  src/lib/api.ts
Due: eslint, prettier

GlyphEditor: resolve accessibility warnings
  src/lib/components/GlyphEditor.svelte
Due: eslint, prettier

refactor: remove unused ai-mapping router, add character preview
  api/config.py
  api/database/models.py
  api/main.py
  api/routers/ai_mapping.py
  api/routers/fonts.py
  api/routers/glyphs.py
  api/routers/svg.py
  api/services/font_service.py
  src/lib/components/GlyphEditor.svelte
  src/lib/types.ts
Due: eslint, prettier, check-python, lint, fmt

feat: restore mise.toml
  mise.toml
Due: none

feat: add AI mapping router and integrate AI suggestion generation in GlyphEditor
  api/main.py
  api/routers/ai_mapping.py
  api/services/font_service.py
  src/lib/components/GlyphEditor.svelte
  src/lib/components/LivePreview.svelte
Due: eslint, prettier, check-python, lint, fmt

feat: use Gemini instead of OpenAi
  api/services/font_service.py
  mise.toml
  pyproject.toml
  uv.lock
Due: check-python, lint, fmt

feat: add PNG preview generation for fonts and persist state
  api/routers/fonts.py
  api/services/font_service.py
  src/App.svelte
  src/lib/api.ts
  src/lib/components/GlyphEditor.svelte
  src/lib/components/ZipUpload.svelte
  uv.lock
Due: eslint, prettier, check-python, lint, fmt

GlyphEditor: use icons with tooltip for enhanced UI
  src/lib/api.ts
  src/lib/components/GlyphEditor.svelte
  src/lib/components/ui/tooltip/index.ts
  src/lib/components/ui/tooltip/tooltip-content.svelte
  src/lib/components/ui/tooltip/tooltip-trigger.svelte
Due: eslint, prettier

api: fix env path
  src/lib/api.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier: any of: *.{js,ts,svelte,html,css}
  check-python: any of: *.py
  check-json: any of: *.json
  lint: any of: *.py
  fmt: any of: *.py
